[project]
	description = Test code for azure stuff
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/James Burns (NorfolkNChance)
[access "refs/for/refs/*"]
	read = group user/James Burns (NorfolkNChance)
	push = group user/James Burns (NorfolkNChance)
	label-Code-Review = -2..+2 group user/James Burns (NorfolkNChance)
	label-Verified = -1..+1 group user/James Burns (NorfolkNChance)
	rebase = group user/James Burns (NorfolkNChance)
	removeReviewer = group user/James Burns (NorfolkNChance)
	submit = group user/James Burns (NorfolkNChance)
[access "refs/heads/*"]
	read = group user/James Burns (NorfolkNChance)
	create = group user/James Burns (NorfolkNChance)
	push = +force group user/James Burns (NorfolkNChance)
	pushMerge = group user/James Burns (NorfolkNChance)
[access "refs/tags/*"]
	push = +force group user/James Burns (NorfolkNChance)
	pushTag = group user/James Burns (NorfolkNChance)
	pushSignedTag = group user/James Burns (NorfolkNChance)
